
 main{
	 
	display: grid;
	grid-template-columns: 10fr ;
	grid-template-rows: 70vh 50vh;
	grid-template-areas: "h  h"
						"m  l"
						"f f";
	column-gap: 400px;
	row-gap: -10px;
	height: 100vh;
	background-image: url(../img/bg_musica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.secao1{
    display: inline-flex;
}
.secao1:first-child{
    margin-left:25px;
}
.secao1 h3{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: black;
}
.div_gravar{
    
	margin-top: 50px;
	justify-content: space-around;
    width: 300px;
    height: 100px;
    padding: 80px;

}
.box_video{
	grid-area: m ;
    width: 160%;
    border: 5px solid black;
    
    height: 350px;
    border-radius: 10px;
}