
 main{
	 
	display: grid;
	grid-template-columns: 3fr  2fr;
	grid-template-rows: 70vh 50vh;
	grid-template-areas: "h  h"
						"m  l"
						"f f";
	column-gap: 400px;
	row-gap: -10px;
	height: 100vh;
	background-image: url(../img/bg_musica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.login{
	margin-top: 190px;
	grid-area: m ;
	
}
.div_gravar{
	margin-top: 100px;
	margin-left: -10px;
    width: 230%;
    height: 100px;
    padding: 50px;

}
.box_video{
	grid-area: m ;
    width: 50%;
    height: 350px;
    border: 5px solid black;
    border-radius: 10px;
}

.box{
	
	width: 299px;
    height: 400px;
	padding: 40px;
	background: #000000;
    border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 6px;
}



.box h1{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
	color: #fff;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #1d1d1d;
	border-radius: 20px;
	padding: 10px;
	width: 200px;
	outline: none;
	transition: 0.35s;
}


.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width: 220px;
	border-color: #F2B138;

}
.box input[type ="submit"]{
	color: #fff;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #000000;
	border-radius: 20px;
	padding: 10px 30px;
	outline: none;
	transition: 0.35s;
	cursor: pointer;
}
.box input[type ="submit"]:hover{
	background-color: #F2B138;

}

.div_gravar h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 110px;
}


